<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Clínica BienEstar</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#portfolio">Blog</a></li>
          <li><a href="#team">Equipo</a></li>
          <li class="drop-down"><a href=""> Le puede interesar...</a>
            <ul>
              <li class="drop-down"><a href="#">Tipos de terapia</a>
                <ul>
                  <li><a href="#">Cognitivo-conductual</a></li>
                  <li><a href="#">Psicoanálisis</a></li>
                  <li><a href="#">Sistémica</a></li>
                  <li><a href="#">Integral</a></li>
                  <li><a href="#">ACT</a></li>
                </ul>
              </li>
              <li><a href="#">Admisión y Requisitos</a></li>
              <li><a href="#">Precios</a></li>
              <li><a href="#">Psicólogos</a></li>
              
            </ul>
          </li>
          <li><a href="#contact">Contacto</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro2-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>Brindamos<br> atención online<br> y presencial <span>las 24 hs.</span></h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Nosotros</a>
          <a href="#services" class="btn-services scrollto">Nuestros servicios</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Nosotros</h3>
          <p>Somos una clínica psicológica abierta las 24 hs. del día. Ofrecemos la mejor ayuda y atención cuando usted lo requiera.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>Desde el 2017 nuestro equipo de profesionales ofrece atención personalizada y confidencial y como queremos seguir brindando el mejor servicio posible, desde 2020 dado el contexto de pandemia decidimos ampliar nuestra atención de manera online.          </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Atención Personalizada</a></h4>
              <p class="description">Elija atenderse de manera  online o presencial en el horario que necesite con el profesional que más le guste</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href=""> Grandes Profesionales</a></h4>
              <p class="description"> Le ofrecemos la mejor selección de psicólogos profesionales y un equipo en constante capacitación para una mayor especificidad de tratamiento para usted.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Variedad de terapias y enfoques</a></h4>
              <p class="description">Además, contamos con diversas terapias y técnicas para abordar problemas de ansiedad, depresión, estrés, de pareja, de adicción y muchos más. ¡Permitanos ser parte de su camino hacia su bienestar pleno emocional, individual y social!</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/grupo.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/terapiaverde.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Podés elegir la terapia que te sea más cómoda</h4>
            <p>Es bien sabido que todo lo que nos rodea influye  continuamente sobre nosotros y nuestro estado de ánimo. Por esa razón nuestro espacio físico en la Clínica BienEstar está ambientado para que se sienta en todo momento como en su hogar con todas las comodidades que pudiera tener de la manera más accesible.           </p>
            <p>
              Incluso nuestro más reciente espacio online continúa con esa calidez que nos caracteriza para que pueda elegir la forma ideal de acercarse o continuar   su tratamiento psicológico.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/chicaazul.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>¡También podés cambiar la modalidad de tu sesión cuando gustes! ¡o combinar ambas modalidades!
            </h4>
            <p>Siempre podés informarte sobre la modalidad con la que se maneja cada psicólogo en particular. También podes charlarlo con un profesional en una entrevista de admisión, algunos otorgan atención bimodal.        </p>
            <p>Recordá que lo que importa es tu bienestar y comodidad por lo que es tu derecho informarte de todo lo que necesites antes de comenzar. Es importante que te interiorices en el tipo de terapia que te gustaría realizar y resuelvas todas tus dudas antes de comenzar. No te preocupes, nosotros podemos ayudarte.       </p> <p>Nuestro objetivo es brindarle la mejor atención posible siempre que necesite, trabajando con usted y para usted. ¡El principal objetivo es  ayudarte a vivir una vida plena y feliz! </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Servicios</h3>
          <p>A continuación encontrarás una lista de las dudas más frecuentes acerca de nuestro servicio</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Tipos de Terapia </a></h4>
              <p class="description"> En psicología hay distintos enfoques, cada uno con una manera particular de llevar a cabo el tratamiento, unos más breves, otros más largos, etc. Clickea acá para conocerlos.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Honorarios y modalidades</a></h4>
              <p class="description">Los precios varían dependiendo que modalidad elijas, presencial, online o ambas.  El precio tiene un ajuste bimestral. Podés saber más consultando a tu psico.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Admisión y requisitos</a></h4>
              <p class="description">Cuando te contactes con nosotros se hará una evaluación y posterior entrevista de admisión para conocer acerca de tu problema y charlar acerca de los requisitos y así armar un mejor plan terapéutico a seguir.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Terapia Online</a></h4>
              <p class="description">El tratamiento puede ser completamente online. Las sesiones se realizan vía Zoom o Google Meet. Es necesario contar con buena conexión a internet.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Problemas que tratamos</a></h4>
              <p class="description">Ansiedad, depresión, estrés, adicciones, patologías graves, trastornos infantiles, trastornos alimentarios, de pareja, familiares, etc.  </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Duración de tratamientos</a></h4>
              <p class="description"> La duración varía dependiendo el problema y la persona, el profesional y tipo de terapia que realice. Quedate tranquilo que el tiempo que sea es para mejorar tu bienestar y calidad de vida.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>¿Por qué elegirnos?</h3>
          <p>Contamos con excelencia profesional en todo ámbito y mejoramos constantemente para usted</p>
        </header>
<!--
        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Corporis dolorem</h5>
                <p class="card-text">Deleniti optio et nisi dolorem debitis. Aliquam nobis est temporibus sunt ab inventore officiis aut voluptatibus.</p>
                <a href="#" class="readmore">Leer más... </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-language"></i>
              <div class="card-body">
                <h5 class="card-title">Voluptates dolores</h5>
                <p class="card-text">Voluptates nihil et quis omnis et eaque omnis sint aut. Ducimus dolorum aspernatur.</p>
                <a href="#" class="readmore">Leer más...  </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Eum ut aspernatur</h5>
                <p class="card-text">Autem quod nesciunt eos ea aut amet laboriosam ab. Eos quis porro in non nemo ex. </p>
                <a href="#" class="readmore">Leer más...  </a>
              </div>
            </div>
          </div> -->

        </div> 

        <div class="row counters"> 

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">+1530</span>
            <p>Pacientes totales</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">+798</span>
            <p>Pacientes en actual tratamiento</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">+40</span>
            <p>Profesionales brindando atención online</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">+28</span>
            <p>Profesionales brindando atención presencial</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Blog</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Clinica BienEstar</li>
              <li data-filter=".filter-app">Terapias</li>
              <li data-filter=".filter-card">Notas</li>
              <li data-filter=".filter-web">Promocional</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/terapia1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">¿TCC? </a></h4>
                <p>Caracterizada por su breve duración, la Terapia Cognitivo Conductual ayuda a modificar pensamientos, sentimientos y comportamientos negativos...</p>
                <div>
                  <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/clinica1.PNG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Nueva sede</a></h4>
                <p>Muy pronto contaremos con otro edificio donde compartiremos espacio con otros profesionales de la salud. Enterate pronto de más novedades...</p>
                <div>
                  <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/terapia2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Al diván</a></h4>
                <p>¿Qué es el psicoanálisis y su famoso diván? El psicoanálisis es la terapia más elegida en nuestro país, te contamos qué es y cómo funciona...</p>
                <div>
                  <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/articulo2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">IA'S psicólogas</a></h4>
                <p>¿Puede la inteligencia artifical reemplazar a la terapia? Desde hace muchos años las IA y la psicología trabajan en conjunto y si bien la terapia no será reemplazada por ello, puede ser una herramienta de gran ayuda. Leé más aquí... </p>
                <div>
                  <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/clinica2.PNG" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Grupo debate</a></h4>
                <p>Si sos estudiante o profesional de psicología unite a nuestro grupo de Facebook para intercambiar conocimiento con otros colegas...</p>
                <div>
                  <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/terapia3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#"> ¿Qué es la ACT?</a></h4>
                <p>La terapia que deja a un lado los síntomas. La terapia de Aceptación y Compromiso...</p>
                <div>
                  <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/articulo1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">¿Corazón o Ansiedad?</a></h4>
                <p>El dolor de pecho por un ataque al corazón es muy parecido al de la ansiedad. Enterate las diferencias aquí..</p>
                <div>
                  <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/clinica3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Nuevos consultorios</a></h4>
                <p>Seguimos ampliando nuestros espacios, más modernos, más cálidos, con más comodidades para usted...</p>
                <div>
                  <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="vista previa"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->  

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testimonios de pacientes</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Anónimo</h3>
              
                <p>
                  La psicóloga María José fue muy simpática y amable desde el primer momento, me sentí cómodo y segura para expresarme en todo momento asi que el tratamiento fue breve y llevadero. Por fin pude sanar  y superar mis problemas emocionales! Gracias!!
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Giménez</h3>
                <p>
                  Nunca fui muy afín a los psicologos porque sentia que nunca avanzaba. Ya llevo 4 meses viniendo a la clínica y debo decir que me siento mejor cada vez. Las chicas de mesa de entrada son siempre un amor y el señor Sebastián es un excelente profesional que me contuvo y luchó para que yo pudiera estar bien y dejar de lado la idea de que estoy estancada y esto no sirve. Estoy mejorando mi calidad de vida poco a poco y estoy aprendiendo herramientas que no sabía que existían, ahora puedo enfrentar desafíos diarios con mayor confianza y serenidad
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jerónimo Paván</h3>
                <p> estoy lidiando con mi ansiedad y tratando de entender mis pensamientos y emociones de una manera más profunda. Me salva poder conectarme en cualquier momento con la psicologa Lucrecia porque a veces la estoy pasando mal y no puedo ir a la clinica pero se que nos organizamos y nos conectamos por videollamada y es más facil.     </p>
              </div>
    
              <div class="testimonial-item">
                <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Liliana Fernández</h3>
                <p>GRACIAS ALA SEÑORITA NATALIA ESTAMOS LLEVANDO LA VIDA DE OTRO MODO CON MI MARIDO. LA CLINICA ES MUY LINDA Y TODO EL EQUIPO NOS DIO UN SERVICIO ACOGEDOR DESDE EL PRIMER DÍA. GRACIAS!!!                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>Merlina P.</h3>
                <p> El trabajo que vengo realizando hace unos años me permitió reconstruir mi relación con mi familia y amigos. Me puedo comunicar de manera más efectiva y sana, mejoré significativamente mi vida y estoy cada vez más feliz. Gracias a la psicóloga Greta, es la mejor profesional con la que me he atendido en mi vida, la quiero mucho</p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Equipo</h3>
          <p>Contamos con una excelente lista de profesionales especializados en diversos enfoques. Algunos son:</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lautaro Martínez</h4>
                  <span>Psicólogo cognitivo-conductual<br>Online</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Lucrecia Mina</h4>
                  <span>Psicoanalista<br> Online-Presencial</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-6.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Greta Pérez</h4>
                  <span>Terapia Integral<br>Especialista en trastornos de ansiedad y depresión<br> Online-Presencial</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sebastián Méndez</h4>
                  <span>Psicólogo cognitivo-conductual<br> Online-Presencial</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Natalia Jepson</h4>
                  <span>Psicóloga sistémica<br>Terapia de pareja- Presencial</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-7.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Juan Escobár</h4>
                  <span>Psicoanalista<br>Especializado en adicciones y psicosis<br> Presencial</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-8.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Pilar Ortega</h4>
                  <span>Psicóloga cognitivo-conductual<br>Especializada en niños y adolescentes Presencial-Online</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-9.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Silvia Magallán</h4>
                  <span>Psicoanalista<br>Especializada en patologías graves<br> Presencial-Online</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <!-- <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Nuestros clientes</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.</p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section> --/!>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contactános</h3>

        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3143.5515171729476!2d-57.54503952550067!3d-38.01092014532934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dc2331307c99%3A0x7a10830c7984e8a8!2sGasc%C3%B3n%201622%2C%20B7600FMH%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1688679583526!5m2!1ses!2sar" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>Gascón 1622, <br> Mar del Plata</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>bienestar<br>@clinica.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+54 223 6687954</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Su mensaje ha sido enviado con éxito. ¡Gracias por elegirnos!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Ingrese al menos 4 caracteres" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Correo Electrónico" data-rule="email" data-msg="Ingrese una dirección de email válida" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Asunto" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Escriba su mensaje aquí" placeholder="Escriba su consulta aquí..."></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Enviar mensaje">Enviar mensaje</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Clínica Bienestar</h3>
            <p>¡Gracias por visitar nuestra página web o centro clínico!<br>Apreciamos sinceraente su interés en nuestros servicios. Estamos continuamente en mejora para ofrecerle apoyo, orientacion y cuidado psicológico. No dudes en contactarnos si tiene alguna pregunta o si deaea programar una cita. <br> ¡Esperamos poder ayudarte en tu camino hacia una vida plena y feliz! </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces Útiles</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Términos De Servicio</a></li>
              <li><a href="#">Política De Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contacto</h4>
            <p>
              Gascón 1622 <br>
             Mar del Plata, Buenos Aires<br>
              Argentina <br>
              <strong>Teléfono:</strong> +54 223 6687954<br>
              <strong>Email:</strong> bienestar@clinica.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Nuestro Boletín Informativo</h4>
            <p>¿Querés recibir tus noticias, actualizaciones, artículos acerca de nosotros y de cómo aplicar la psicología en tu día a día? ¡Suscribite y te enviaremos esta información y más vía mail!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Suscribirse">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BienEstar</strong>. Todos los Derechos Reservados
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Diseñado por <a href="https://bootstrapmade.com/">GretaPontaroli</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
